* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


.calculator {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    width: 340px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 18px;
    background: #111;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 2rem;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    background: #2c2c2c;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px #1a1a1a;
    transform: 0.2s ease-in-out;
}


button:hover {
    background: #3c3c3c;
    transform: scale(1.03);
}
button:active {
    transform: scale(0.98);
    box-shadow: #000;
}




button:nth-child(4n) {
    background: #00a8ff;
}
button:nth-child(4n):hover {
    background: #00a8ff;
}

button:last-child {
    background: #00a684;
}

button:last-child:hover {
    background: #00a684;
}











